大文字小文字の違いを無視する:YES
_Rename.csvを利用する:NO
_Replace.csvを利用する:NO
マウスを使用する:YES
メニューを使用する:YES
デバッグコマンドを使用する:NO
多重起動を許可する:YES
オートセーブを行なう:NO
キーボードマクロを使用する:YES
ウィンドウの高さを可変にする:YES
描画インターフェース:TEXTRENDERER
ウィンドウ幅:760
ウィンドウ高さ:640
履歴ログの行数:5000
PRINTCを並べる数:3
PRINTCの文字数:25
フォント名:ＭＳ ゴシック
フォントサイズ:18
一行の高さ:19
文字色:192,192,192
背景色:0,0,0
選択中文字色:255,255,0
履歴文字色:192,192,192
フレーム毎秒:5
最大スキップフレーム数:3
スクロール行数:1
無限ループ警告までのミリ秒数:5000
表示する最低警告レベル:1
ロード時にレポートを表示する:NO
ロード時に引数を解析する:NO
呼び出されなかった関数を無視する:YES
関数が見つからない警告の扱い:IGNORE
関数が呼び出されなかった警告の扱い:IGNORE
ボタンの途中で行を折りかえさない:NO
サブディレクトリを検索する:NO
読み込み順をファイル名順にソートする:NO
